<div class="row">
    <main class="col-md-12">
        <!-- Start your code here -->
        <h1>About</h1>
        <p>This is my about page</p>
        <h3>Jiyad Mohammed Arif Shaikh</h3>
        <p>
            <i class="fa fa-id-badge"></i> Student ID: jmashaikh1 |
            <i class="fa fa-envelope"></i> Email: jmashaikh1@myseneca.ca
        </p>
        <p>
            I'm love playing basketball and i think lebron james is the Goat.
        </p>
        <!-- End your code here  -->
    </main>
</div>
